.main-content {
  padding-top: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-field {
  width: 100%;
}

.tiny-text {
  font-size: xx-small;
  color: #bababa;
}

.todo-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.todo-item {
  width: 200px;
  height: 20px;
  padding: 5px;
  margin: 10px 0 10px 0;
  background: #ffffff;
  border: 1px solid rgba(235, 235, 235, 0.2);
  border-radius: 5px;
  box-shadow: 6px 6px 16px #d1cdc7, -6px -6px 16px #ffffff;
}
